<%= render layout: '/header',
           locals: { header: 'h2', title: t('.title') } do %>
  <nav class="pull-right">
    <%= link_to t('loads.index.return_to'), loads_path, class: 'btn btn-link' %>
  </nav>
<% end %>
<%= simple_form_for(load,
                    as: :load,
                    html: { class: 'form-horizontal' },
                    wrapper: :horizontal_form) do |form| %>
  <%= error_messages load %>
  <%= form.input :customer_name %>
  <%= form.input :customer_location %>
  <%= form.input :order_number %>
  <%= form.input :origin_location %>
  <%= form.input :product_description %>
  <%= form.input :requested_date, as: :date, html5: true %>

  <input type="submit" class="btn btn-primary" value="<%= t('.submit') %>" />
<% end %>
